.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.game-card {
  background: #333;
  border: 1px solid #444;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: transform 0.2s;
}

.game-card:hover {
  transform: scale(1.05);
}

.game-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.game-card h3 {
  color: #fff;
  font-size: 1.2em;
  font-family: 'Roboto';
}
